
.logo1{
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
}
.img1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.title1{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    align-self: center;     
}